<div class="page-layout carded fullwidth single-scroll" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                <div class="h2 mt-16" style="color:white">Gerente</div>

            </div>
            <img width="128" style="height: 28vw;   width: 100vw;  max-width: 800px;" src="assets/images/logos/intro2.svg">

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT src="assets/images/beach.jpg" -->
            <div class="content p-24">

                <div class="demo-content" style="width: 100%;">
                    <h1>Parametrias</h1>
                    <mat-toolbar color="primary">
                        <mat-toolbar-row [routerLink]="'/directordepartamento'" class="bottomSeparator">
                            <span>Creación Lider Politico</span>
                        </mat-toolbar-row>
                        <mat-toolbar-row [routerLink]="'/metas'" class="bottomSeparator">
                            <span>Creación de Metas</span>
                        </mat-toolbar-row>
                        <mat-toolbar-row [routerLink]="'/ListarMetasGer'" class="bottomSeparator">
                            <span>Listado de Metas</span>
                        </mat-toolbar-row>
                    

                        
                        
                    </mat-toolbar>





                </div>

            </div>

        </div>


    </div>


</div>