.land:hover
{
     fill: red;
                        fill-opacity: 1;
                        stroke: white;
                        cursor: pointer;
}
.svg-wrapper { display: inline-block; position: relative; width: 100%;    padding-bottom: 20%;; vertical-align: middle; }
.svg-wrapper svg { display: inline-block; position: initial; top: 0; left: 0; }
.example-full-width
{
    width: 100%;
}
.full
{
    max-width: 2000px;
    width: 100%;
}

.tooltiptext {
    display: none;
    width: 120px;
    background-color: #2094c8;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: fixed;
    z-index: 1;
  }
  .tooltiptext1 {
    display: none;
    width: 120px;
    background-color: rgb(100, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: fixed;
    z-index: 1;
  }
  
  .tooltiptext.active {
    display: initial;
  }
  .tooltiptext1.active {
    display: initial;
  }
