<div class="page-layout carded fullwidth single-scroll" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2>Evento {{dataEvento.NombreDepartamento}}</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>Detalles del Evento </span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT src="assets/images/beach.jpg" -->
            <div class="content p-24">

                <div class="demo-content">

                    <img [src]="imageUrl" alt="beach" style="max-width: 640px; width: 100%;">

                    <h1>{{dataEvento.Titulo}}</h1>
                    <h4 class="secondary-text">Creado por {{dataEvento.NombreCliente}}</h4>

                    <p>
                        {{dataEvento.Descripcion}}
                    </p>

                    <form name="registerForm" [formGroup]="registerForm" novalidate>
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Deja tu comentario" formControlName="Comentario" required></textarea>
                            <mat-error *ngIf="registerFormErrors.Comentario.required">
                                Comentario es requerido
                            </mat-error>
                        </mat-form-field>
                    </form>
                    <div fxLayout="row" >
                        <button  (click)="EnviarInfo()" mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT" [disabled]="registerForm.invalid">
                            Enviar Comentario
                        </button>
                        <div  class="icoLike">
                            <i class="material-icons">&#xE8DC;</i>
                        </div>
                    </div>



                    <blockquote *ngFor="let item of ListComentarios">
                        <p>
                            {{item.Descripcion}}
                        </p>

                        <footer>
                            User: {{item.Id_usuario}}
                        </footer>
                        <hr>
                    </blockquote>
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>