<div class="page-layout carded fullwidth single-scroll" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2>Actividad {{dataEvento.NombreDepartamento}}</h2>
            <img width="128" style="height: 28vw;
        
            width: 100vw;
                    
            max-width: 800px;" src="assets/images/logos/intro2.svg">
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8 headerback">
                <span>Detalles del Actividad </span>
                <div class="icoLike" (click)="ReturnPage()">
                    <i class="material-icons">&#xE166;</i>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT src="assets/images/beach.jpg" -->
            <div class="content p-24">

                <div class="demo-content">

                    <img *ngIf="imageUrl != 'RutaNula'" [src]="imageUrl" alt="beach" style="max-width: 640px; width: 100%;">


                    <h1>{{dataEvento.Titulo}}</h1>
                    <h4 class="secondary-text">Creado por {{dataEvento.NombreCliente}}</h4>

                    <p>
                        {{dataEvento.Descripcion}}
                    </p>

                    <form name="registerForm" [formGroup]="registerForm" novalidate>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Ingresa tu Nombre" formControlName="Nombre" required>
                            <mat-error *ngIf="registerFormErrors.Nombre.required">
                                Nombre es requerido
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Deja tu comentario" formControlName="Comentario" required></textarea>
                            <mat-error *ngIf="registerFormErrors.Comentario.required">
                                Comentario es requerido
                            </mat-error>
                        </mat-form-field>
                    </form>
                    <div fxLayout="row">
                        <button (click)="EnviarInfo()" mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT" [disabled]="registerForm.invalid">
                            Enviar Comentario
                        </button>
                        <div class="icoLike" (click)="crearlike()">
                            <i class="material-icons" [ngClass]="{'blanco': MobileApp, 'gris': !MobileApp }">&#xE8DC;</i>
                        </div>
                        <div class="counter"> {{LikeCounter}}</div>

                    </div>



                    <blockquote *ngFor="let item of ListComentarios">
                        <p>
                            {{item.Descripcion}}
                        </p>

                        <footer>
                            {{item.nombrecliente}}
                        </footer>
                        <hr>
                    </blockquote>
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>