<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" 
    fxLayout="row" fxLayoutAlign="start center" >
        <div>
            <div class="h2 mt-16">Aprobacion de Imagenes</div>
            <div class="h2 ">{{DatoDepto?.Nombre | uppercase }}</div>
        </div>
        <img width="128" style="height: 28vw;
        width: 100vw;
        max-width: 800px;" src="assets/images/logos/intro2.svg">
    </div>
    <!-- / HEADER -->
    <div class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24">
        <div class="toolbar px-24 py-8 headerback">
            <div class="h2 mb-24">Listado de Imagenes</div>
            <div class="icoLike" (click)="ReturnPage($event)">
                <i class="material-icons">&#xE166;</i>
            </div>
        </div>
        <div class="content p-24">
            <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row" style="display: none;" class="filtros">

                <mat-form-field fxFlex="100" style="display: none;">
                    <input matInput placeholder="Cedula" [(ngModel)]="cedula">
                </mat-form-field>

                <mat-form-field fxFlex="100" style="display: none;">
                    <input matInput placeholder="Nombre Cliente" [(ngModel)]="nombrefil">
                </mat-form-field>

                <mat-form-field style="display: none;">
                    <mat-select placeholder="Estado" [(ngModel)]="Aprobada">
                        <mat-option [value]="1">Aprobada</mat-option>
                        <mat-option [value]="0">No Aprobada</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="display: none;">
                    <mat-select placeholder="Departamentos" [(ngModel)]="DepartamentoSeleccionado" (change)="SelectedDepartamento($event)">
                        <mat-option *ngFor="let Item of ListDepartamentos" [value]="Item.Id">
                            {{ Item.Nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="display: none;">
                    <mat-select placeholder="Municipios" [(ngModel)]="MunicipioSeleccionado">
                        <mat-option *ngFor="let Item of ListMunicipiosGroup" [value]="Item.Id">
                            {{ Item.Nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button (click)="filtrar()" mat-raised-button color="accent" class="submit-button" aria-label="" style="display: none;">
                    Buscar
                </button>
            </div>

            <ngx-datatable [selected]="selected" [selectionType]="'single'" (select)="selectedEvent($event)" class="material" [rows]="rows"
                [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'"
                [scrollbarH]="true" [reorderable]="reorderable" [limit]="10">



                <ngx-datatable-column name="Id" prop="Id"></ngx-datatable-column>

                <ngx-datatable-column name="Nombre" prop="Nombre"></ngx-datatable-column>

                 <!-- <ngx-datatable-column name="Ruta" prop="Ruta"></ngx-datatable-column>  -->
                <ngx-datatable-column name="Fecha Creacion" prop="FechaCreacion"></ngx-datatable-column>
            </ngx-datatable>

        </div>
    </div>

    <!-- CONTENT -->


</div>