:host {

    .content{
        max-width: 1100px;
    }

}

.botoncito{
    color: blue;
}

.botoncito:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.filtros{
    display: none;
}

.icoLike
{
    width: 40px;
    height: 40px;
    background: #2094c8;
    font-size: 31px;
    padding-left: 9px;
    border-radius: 22px;
    cursor: pointer;
    color: white;
}
.headerback{
    width: 100%;
    justify-content: space-between !important;
    display: flex;
}