<div class="page-layout simple right-sidenav single-scroll" fusePerfectScrollbar>

    <mat-sidenav-container>

        <!-- CENTER -->
        <div class="center" fusePerfectScrollbar>

            <!-- HEADER -->
            <div class="header mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">



                <div>
                    <h2>Mapa de Actividad</h2>
                </div>
                <img width="128" style="height: 28vw;
                width: 100vw;
                max-width: 800px;" src="assets/images/logos/intro2.svg">
            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div class="content p-24 mat-white-bg">

                <Map-content></Map-content>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

        <!-- SIDENAV -->

        <!-- / SIDENAV -->

    </mat-sidenav-container>

</div>