<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <button id="snap" (click)="SubirImagenNow()">Snap Photo</button>
  <div>
    <video id="video" autoplay style="width: 30vw"></video>
    <canvas id="canvas" width="640" height="480" style="width: 30vw"></canvas>
  </div>


  <!-- <label for="videoSource">Video source: </label>
  <select id="videoSource"></select>
</div>-->
  <input type="file" id="btnUpload" value="Upload"  class="upload" />




</div>