<div fxLayout="column">
    <div>
        <div>
            <span class="register">Captura la foto de tu evento</span>
        </div>
        <form novalidate [formGroup]="form">
            <input type="file" id="file" class="inputImage" (change)="fileChange($event)" #fileInput/>

        </form>
        <div *ngIf="showerrorFile" style="color:brown">Archivo debe ser de extension jpeg,jpg o png</div>


    </div>

    <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="center">
       
        <button fxFlex="50" (click)="EnviarFoto()" mat-raised-button color="accent" class="submit-button"  [disabled]="showerrorFile" aria-label="CREATE AN ACCOUNT">
            <i class="material-icons">&#xE864;</i> Enviar
        </button>
    </div>
</div>