<div class="page-layout carded fullwidth single-scroll" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->

        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8 headerback">
                <span>Administrador </span>
                <div class="icoLike" (click)="ReturnPage()">
                    <i class="material-icons">&#xE166;</i>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT src="assets/images/beach.jpg" -->
            <div class="content p-24">

                <div class="demo-content">
                    <h1>Parametrias</h1>
                    <mat-toolbar color="primary">
                        <mat-toolbar-row [routerLink]="'/tipoevento'" class="bottomSeparator">
                            <span>Tipo Evento</span>
                        </mat-toolbar-row>

                        <mat-toolbar-row [routerLink]="'/aceptimage'" class="bottomSeparator">
                            <span>Aceptar Imagenes</span>
                        </mat-toolbar-row>

                        <mat-toolbar-row [routerLink]="'/paramsectores'" class="bottomSeparator">
                            <span>Sectores</span>
                        </mat-toolbar-row>


                    </mat-toolbar>





                </div>

            </div>

        </div>


    </div>


</div>