<div class="page-layout carded fullwidth single-scroll" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header  p-24 h-200" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                <div class="h2 mt-16" style="color:white">Administrador</div>

            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT src="assets/images/beach.jpg" -->
            <div class="content p-24">

                <div class="demo-content" style="width: 100%;">
                    <h1>Parametrias</h1>
                    <mat-toolbar color="primary">
                        <mat-toolbar-row [routerLink]="'/tipoevento'" class="bottomSeparator">
                            <span>Tipo Evento</span>
                        </mat-toolbar-row>

                        <mat-toolbar-row [routerLink]="'/aceptimage'" class="bottomSeparator">
                            <span>Aceptar Imagenes</span>
                        </mat-toolbar-row>

                        <mat-toolbar-row [routerLink]="'/paramsectores'" class="bottomSeparator">
                            <span>Sectores</span>
                        </mat-toolbar-row>


                    </mat-toolbar>





                </div>

            </div>

        </div>


    </div>


</div>