<div id="register" fxLayout="column" fusePerfectScrollbar>

    <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="register-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div>
            <div class="title">CREAR CUENTA</div>

            <form *ngIf="!ShowCamara" name="registerForm" [formGroup]="registerForm" novalidate>
                <mat-form-field>
                    <input matInput placeholder="Nombre" formControlName="Nombre" required>
                    <mat-error *ngIf="registerFormErrors.Nombre.required">
                        Nombre es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Apellido" formControlName="Apellido" required>
                    <mat-error *ngIf="registerFormErrors.Apellido.required">
                        Apellido es requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error *ngIf="registerFormErrors.email.required">
                        Correo electronico es requerido
                    </mat-error>
                    <mat-error *ngIf="!registerFormErrors.email.required && registerFormErrors.email.email">
                        Por favor ingrese un correo electronico valido
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Cedula" formControlName="Cedula" [textMask]="{mask: MaskedNumber}" required>
                    <mat-error *ngIf="registerFormErrors.Cedula.required">
                        Cedula es requerida
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Telefono Fijo" formControlName="Telefonof" [textMask]="{mask: MaskedNumberNoDecimal}">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Telefono Celular" formControlName="Celular" [textMask]="{mask: MaskedNumberNoDecimal}" required>
                    <mat-error *ngIf="registerFormErrors.Celular.required">
                        Celular es requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Departamentos" formControlName="Departamentos" [(ngModel)]="DepartamentoSeleccionado" (change)="SelectedDepartamento($event)"
                        required>
                        <mat-option *ngFor="let Item of ListDepartamentos" [value]="Item.Id">
                            {{ Item.Nombre }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="registerFormErrors.Departamentos.required">
                        Departamento es requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Municipios" [(ngModel)]="MunicipioSeleccionado" formControlName="Municipios" required>
                        <mat-option *ngFor="let Item of ListMunicipiosGroup" [value]="Item.Id">
                            {{ Item.Nombre }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="registerFormErrors.Municipios.required">
                        Municipio es requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field [style.margin-bottom.px]="registerFormErrors.password.passwordNotOk ? '16' : '0'" required>
                    <input matInput type="password" placeholder="Contraseña" formControlName="password">
                    <mat-error *ngIf="registerFormErrors.password.required">
                        Contraseña es requerida
                    </mat-error>
                    <mat-error *ngIf="registerFormErrors.password.passwordNotOk">
                        Contraseña por lo menos debe una letra ,un numero, minimo 5 caracteres maximo 10.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Contraseña (Confirmar)" formControlName="passwordConfirm" required>
                    <mat-error *ngIf="registerFormErrors.passwordConfirm.required">
                        Confirmacion de Contraseña es requerida
                    </mat-error>
                    <mat-error *ngIf="registerFormErrors.passwordConfirm.passwordsNotMatch">
                        Contraseña deben coincidir
                    </mat-error>
                </mat-form-field>



            </form>

            <div [hidden]="!ShowCamara">
                <div>
                    <span class="register">(Opcional) puedes tomarte una foto como avatar</span>
                </div>

                <form novalidate [formGroup]="form">
                    <input type="file" id="file" (change)="fileChange($event)" #fileInput/>

                </form>
                <div *ngIf="showerrorFile" style="color:brown">Archivo debe ser de extension jpeg,jpg o png</div>


            </div>


            <div *ngIf="successText">
                <span class="successText">Usuario Creado de manera exitosa</span>
            </div>
            <div *ngIf="ErrorText">
                <span class="ErrorText">Error al crear usuario</span>
            </div>


            <button *ngIf="!ShowCamara" (click)="Continuar()" mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                [disabled]="registerForm.invalid">
                Continuar
            </button>
            <div *ngIf="ShowCamara" style="margin-top: 15px;">
                <button (click)="EnviarInfo()" mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT" [disabled]="registerForm.invalid">
                    Enviar Informacion
                </button>
            </div>

            <div *ngIf="!ShowCamara" class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Ya tienes cuenta?</span>
                <a class="link" [routerLink]="'/login'">Ingresar</a>
            </div>

        </div>

    </div>

</div>