<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" 
    fxLayout="row" fxLayoutAlign="start center" >
        <div>
            <div class="h2 mt-16">Listado de Sector</div>
            <div class="h2 ">{{DatoDepto?.Nombre | uppercase }}</div>
        </div>
        <img width="128" style="height: 28vw;
        width: 100vw;
        max-width: 800px;" src="assets/images/logos/intro2.svg">
    </div>
    <!-- / HEADER -->
    <div class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24">
        <div class="toolbar px-24 py-8 headerback">
            <div class="h2 mb-24">Listado de Sector</div>
            <div fxLayout="column">
                <div class="icoLike" (click)="ReturnPage($event)">
                    <i class="material-icons">&#xE166;</i>
                </div>
                <span style="color:#c84c43">Volver</span>
            </div>
        </div>
        <div class="content p-24">
           

            <button  style=" padding: 7px 12px; border-radius: 24px;margin-bottom: 20px;" 
            (click)="nuevo()" mat-raised-button
            color="accent" class="submit-button poin">Nuevo</button>

            <ngx-datatable [selected]="selected" [selectionType]="'single'" (select)="selectedEvent($event)" class="material" [rows]="rows"
                [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'"
                [scrollbarH]="true" [reorderable]="reorderable" [limit]="10">



                <ngx-datatable-column name="Id" prop="Id"></ngx-datatable-column>                                
                <ngx-datatable-column name="Departamento" prop="NombreDepto"></ngx-datatable-column>
                <ngx-datatable-column name="Fecha Creacion" prop="FechaCreacion"></ngx-datatable-column>
                <ngx-datatable-column name="Nombre " prop="Nombre"></ngx-datatable-column>
            </ngx-datatable>

        </div>
    </div>

    <!-- CONTENT -->


</div>