<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div>
            <div class="h2 mt-16">Reporte de Eventos</div>

        </div>
        <img width="128" style="height: 28vw;
        width: 100vw;
        max-width: 800px;" src="assets/images/logos/intro2.svg">
    </div>
    <!-- / HEADER -->
    <div class="mat-white-bg mat-elevation-z4 p-24  mb-24">
        <div fxLayout="column" fxLayoutAlign="center center" class="centerSearch">
            <div fxLayout="row wrap" fxLayoutAlign="start center">
               
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Municipios" [(ngModel)]="SelectedMunicipio" (change)="ChangeMunicipio($event)">
                        <mat-option [value]="0">
                            Selecciona
                        </mat-option>
                        <mat-option *ngFor="let item of Municipios" [value]="item.Id">
                            {{ item.Nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="SearchTypeAdvance" fxFlex="50" >
                    <mat-select placeholder="Zonas" [(ngModel)]="SelectedZonas" (change)="ChangeZonas($event)">
                        <mat-option [value]="0">
                            Selecciona
                        </mat-option>
                        <mat-option *ngFor="let item of Zonas" [value]="item.Id">
                            {{ item.Nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="SearchTypeAdvance" fxFlex="50" >
                    <mat-select placeholder="Puestos" [(ngModel)]="SelectedPuestos" (change)="ChangePuesto($event)">
                        <mat-option [value]="0">
                            Selecciona
                        </mat-option>
                        <mat-option *ngFor="let item of Puestos" [value]="item.Id">
                            {{ item.Nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="SearchTypeAdvance" fxFlex="50">
                    <mat-select placeholder="Mesas" [(ngModel)]="SelectedMesas">
                        <mat-option [value]="0">
                            Selecciona
                        </mat-option>
                        <mat-option *ngFor="let item of Mesas" [value]="item.Id">
                            {{ item.Nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>



                <mat-form-field fxFlex="50" class="example-full-width">
                    <input matInput [matDatepicker]="picker1" placeholder="Fecha Inicio" [(ngModel)]="FechaInicio">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="50" class="example-full-width">
                    <input matInput [matDatepicker]="picker2" placeholder="Fecha Fin" [(ngModel)]="FechaFin">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #picker2></mat-datepicker>
                </mat-form-field>

            </div>
            <div fxLayout="row">
                <div fxLayout="column" class="pl-24 pr-24 pb-12">
                    <div class="icoLike" (click)="Search()">
                        <i class="material-icons">&#xE8FA;</i>
                    </div>
                    <span style="color:#c84c43">Buscar</span>
                </div>
                <div fxLayout="column" class="pl-24 pr-24 pb-12">
                    <div class="icoLike" (click)="ChangeType()">
                        <i class="material-icons">&#xE152;</i>
                    </div>
                    <div>
                        <span style="color:#c84c43">{{SearchTypeAdvance == true ? 'Basica' : 'Avanzada'}}</span>
                    </div>
                </div>
                <div fxLayout="column" class="pl-24 pr-24 pb-12">
                    <div class="icoLike" (click)="ReturnPage($event)">
                        <i class="material-icons">&#xE166;</i>
                    </div>
                    <span style="color:#c84c43">Volver</span>
                </div>



            </div>
        </div>

        <div class="">
            <ngx-datatable [selected]="selected" [selectionType]="'single'" class="material" [rows]="ReporteList" [loadingIndicator]="loadingIndicator"
                [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
                [limit]="10">

                <ngx-datatable-column name="Name">
                    <ng-template let-column="column" ngx-datatable-header-template>
                      
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                     <button (click)="modificar(row)" class="botoncito">Administrar</button>
                    </ng-template>
                  </ngx-datatable-column>
                <ngx-datatable-column name="Id" prop="Id"></ngx-datatable-column>

                <ngx-datatable-column name="Departamento " prop="NombreDepartamento"></ngx-datatable-column>
                <ngx-datatable-column name="Tipo " prop="NombreTipoIndividuo2"></ngx-datatable-column>

                <ngx-datatable-column name="Nombre " prop="NombreIndividuo"></ngx-datatable-column>
                <ngx-datatable-column name="Cedula " prop="Celular"></ngx-datatable-column>

                <ngx-datatable-column name="Correo " prop="Correo"></ngx-datatable-column>

                <ngx-datatable-column name="Celular " prop="Celular"></ngx-datatable-column>

                <ngx-datatable-column name="Gerente " prop="NombreGerente"></ngx-datatable-column>
                <ngx-datatable-column name="Director" prop="NombreDirectorDepartamento"></ngx-datatable-column>
                <ngx-datatable-column name="Estado SAC " prop="NombreEstadoRevision"></ngx-datatable-column>
                <ngx-datatable-column name="Observacion " prop="observacionsac"></ngx-datatable-column>

                <ngx-datatable-column prop="FechaCreacion">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value | date: 'short'}}
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>

        </div>
    </div>

    <!-- CONTENT -->


</div>