<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
    
    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="h1 mt-16">Creación de Individuo 2</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="column">

            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                [formGroup]="form">

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="toolbar px-24 py-8 headerback">
                        <div class="h2 mb-24">Datos del Individuo 2</div>
                        <div fxLayout="column">
                            <div class="icoLike" (click)="ReturnPage($event)">
                                <i class="material-icons">&#xE166;</i>
                            </div>
                            <span style="color:#c84c43">Volver</span>
                        </div>
                    </div>
                </div>
                <!-- *********************************************************** -->
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50">
                        <input matInput type="text" placeholder="Cedula" formControlName="Cedula" [textMask]="{mask: MaskedNumber}"  disabled>
                        <mat-error *ngIf="formErrors.Cedula.required">
                            Cedula es requerida
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Nombre" formControlName="Nombre" disabled>
                        <mat-error *ngIf="formErrors.Nombre.required">
                            Nombre es requerido
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Apellido" formControlName="Apellido" disabled>
                        <mat-error *ngIf="formErrors.Apellido.required">
                            Apellido es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Dirección" formControlName="Direccion" >
                        <mat-error *ngIf="formErrors.Direccion.required">
                            Dirección es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Email" formControlName="email" >
                        <mat-error *ngIf="formErrors.email.required">
                            Correo electronico es requerido
                        </mat-error>
                        <mat-error *ngIf="!formErrors.email.required && formErrors.email.email">
                            Por favor ingrese un correo electronico valido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Telefono Fijo" formControlName="Telefonof" [textMask]="{mask: MaskedNumberNoDecimal}" >
                    </mat-form-field>

                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Telefono Celular" formControlName="Celular" [textMask]="{mask: MaskedNumberNoDecimal}" >
                        <mat-error *ngIf="formErrors.Celular.required">
                            Celular es requerido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <mat-select placeholder="Tipo Individuo" formControlName="TipoIndividuo2" [(ngModel)]="TipoIndividuo2Seleccionado" disabled>
                            <mat-option *ngFor="let Item of ListTipoIndividuo2" [value]="Item.Id">
                                {{ Item.Nombre }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formErrors.TipoIndividuo2.required">
                            Tipo Individuo es requerido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                        <mat-select placeholder="Departamento" formControlName="Departamento" disabled [(ngModel)]="departaseleccionado" >
                                <mat-option *ngFor="let Item of ListDepartamentos" [value]="Item.Id" >
                                    {{ Item.Nombre }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formErrors.TipoIndividuo2.required">
                                Tipo Individuo es requerido
                            </mat-error>
                    </mat-form-field>

                </div>


                <!-- *********************************************************** -->               
               

            </form>

           
            <div class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" style="width: 82%;max-width: 650px !important;">                
                <div> 
                    <div class="h2 mb-24">Tipo de Antecedentes</div>     
                    <mat-checkbox *ngFor="let Item of listTipoAntecedente" [(ngModel)]="Item.valuee" style="margin-right: 10px;">
                        {{Item.Nombre}}
                    </mat-checkbox>       
      
                </div>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Deje un comentario Si existen inconsistencias." [(ngModel)]="observaciones"></textarea>
                  </mat-form-field>

                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Tipo Estado"  [(ngModel)]="tiporevisionselec" required>
                        <mat-option *ngFor="let Item of listTipoRevision" [value]="Item.Id">
                            {{ Item.Nombre }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formErrors.TipoIndividuo2.required">
                        Tipo Individuo es requerido
                    </mat-error>
                </mat-form-field>
                <button (click)="confirmData()" mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT" >
                    Enviar Información
                </button>

                <div>
                    <h3><p><b>{{resultado}}</b></p></h3>
                </div>
                    
               

            </div>
            
            
            <!-- / CONTENT -->

        </div>
    </div>
</div>

